<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.businessManage.JobInf.dao.JobInfMapper">
	
	<!-- 按照职工姓名查询职工信息 -->
	<select id="selectAllJobInf" resultType="map">
		select * from jobInf
		<where>
			<if test="tempName !=null and tempName!=''">
				name LIKE '%${tempName}%'
			</if>
		</where>
	</select>
	
	<!-- 查询单个职工信息 -->
	<select id="selectJobInf" parameterType="map" resultType="map">
		SELECT * FROM jobInf WHERE id= #{id}
	</select>
	
	<!-- 数据库添加语句 -->
	<insert id="addJobInf" parameterType="map">
		INSERT INTO jobInf VALUES(null, #{name}, #{sex}, #{birthday}, #{education},#{address},#{tellphone},#{department},#{work});
	</insert>
	
	<!-- 数据库删除语句 -->
	<delete id="deleteJobInf" parameterType="map">
		DELETE FROM jobInf WHERE id = #{id}
	</delete>
	
	<!-- 数据库更新语句 -->
	<update id="updateJobInf" parameterType="map">
		UPDATE jobInf SET name=#{name},sex=#{sex},birthday=#{birthday},education= #{education},address=#{address},tellphone=#{tellphone},department=#{department},work=#{work} where id=#{id}
	</update>
	
</mapper>