<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.businessManage.train.dao.TrainMapper">
	
	<select id="selectAll11" resultType="map">
		SELECT * FROM train
	</select>
	
	<select id="selectAll" resultType="map">
		SELECT * FROM train
	</select>
	
	<insert id="addTrain" parameterType="map">
		INSERT INTO train VALUES(null, #{course}, #{lecturer}, #{date}, #{introduction});
	</insert>
	
	<delete id="deleteTrain" parameterType="map">
		DELETE FROM train WHERE id = #{id}
	</delete>
	
	<update id="updateTrain" parameterType="map">
		UPDATE train SET course=#{course},lecturer=#{lecturer},date=#{date},introduction= #{introduction} where id=#{id}
	</update>
	
</mapper>